html {
	--headerColor: rgb(27, 27, 27);
	--bodyColor: rgb(46, 46, 46);
	--hrColor: rgb(56, 56, 56);
	color: #fff;
	font-size: 12px;
}

/*-----------------------------------------------------------*/

.webEditLayout {
	display: flex;
	flex-direction: column;
	height: 100vh;
	max-height: 100vh;
}

.active {
	background-color: rgb(83, 83, 83);
}

.closed {
	display: none;
}

.hrBorder {
	border-width: 1.12px;
	border-color: var(--hrColor);
}

.headerWrap {
	display: flex;
	width: 100%;
	background-color: var(--headerColor);
}

.headerWrap > .tab {
	display: flex;
	margin-right: auto;
}

.headerWrap > .tab li {
	padding: 3px 6.5px;
	cursor: pointer;
}

.bodyWrap {
	flex: 1 1 auto;
	padding: 5px;
	font-size: 14px;
	background-color: var(--bodyColor);
}

.headerWrap button:hover,
.comArea .comWrap li:hover,
header nav > ul li:hover,
.layerArea .bodyWrap ul li:hover {
	background-color: rgb(83, 83, 83);
}

.area {
	display: flex;
	flex-direction: column;
	min-height: 200px;
	z-index: 2;
}

header {
	background-color: #000;
	z-index: 2;
}

header nav > ul {
	display: flex;
	border-bottom: 1px solid #000;
}

header nav > ul li {
	padding: 5px 8px;
	font-size: 16px;
	cursor: pointer;
}

main {
	flex: 1 1 auto;
	display: flex;
	background-color: var(--bodyColor);
}

.comArea {
	flex: 0 0 130px;
	align-items: center;
	height: 100%;
	box-shadow: 2px 0 5px rgb(0 0 0/80%);
}

.comArea .comWrap {
	display: flex;
	flex-wrap: wrap;
}

.comArea .comWrap li {
	flex: 0 0 56px;
	height: 56px;
	margin: 2px;
	text-align: center;
	line-height: 60px;
	border: 1px solid var(--hrColor);
	border-radius: 5px;
	cursor: grab;
}

.comArea .comWrap li:active {
	cursor: grabbing;
}

.comArea .addCom {
	width: 90%;
	height: 30px;
	margin-bottom: 10px;
	background-color: #eee;
	border-radius: 5px;
}

.designArea {
	flex: 0 1 100%;
	overflow: auto;
}

.designArea > div {
	width: 1920px;
	height: 100%;
}

.designArea iframe {
	width: inherit;
	height: inherit;
	background-color: #fff;
	border: 0;
}

.editWrap {
	display: flex;
	flex-direction: column;
	width: 15%;
	min-width: 200px;
	box-shadow: -2px 0 5px rgb(0 0 0/80%);
}

.setUpArea {
	flex: 1 1 auto;
}

.layerArea {
	flex: 0 0 350px;
}

.layerArea .bodyWrap ul li {
	display: flex;
	align-items: center;
	padding: 5px;
	cursor: pointer;
}

.layerArea .bodyWrap .see {
	margin-left: auto;
}
